.container {
    /* text-align: center; */
    background: linear-gradient(to top, #71b9dd 40%, white 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container > * {
    padding: 1rem 0rem;
}

.p1 {
    border-bottom: 1px solid rgb(201, 196, 196);
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%;
    padding-bottom: 1rem;
}

.p2 {
    border-bottom: 1px solid rgb(201, 196, 196);
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%;
    padding-bottom: 1rem;


    
}